body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    color: #111111;
}
.matchgame-wapper {
    margin: 0;
}
.answer-input-wrapper {
    margin: 10% auto 0 auto;
    text-align: center;
    font-size: 3rem;
    width: auto;
}
.answer-input {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 8em;
    border: none;
    text-align: center;
    background-color: transparent;
    border-bottom: solid 0.2rem green;
}
.answer-input:focus {
    border-bottom-color: rgba(0, 128, 0, 0.47);
}
.answer-input-name {
    color: #222222;
    margin: 1rem;
}
.howto {
    font-size: 0.8rem;
    color: #444444;
    margin: 1rem;
}
.answer-input-btnok {
    background-color: #3F863F;
    border: #C3CEC3 0.15rem solid;
    border-radius: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 0.8em;
}
.answer-input-btnok-wrapper {
    margin: 1rem;
}
.sm {
    font-size: 0.7rem;
    color: #111111;
    text-align: center;
    margin: 1rem;
}
.sm .answer-count, .sm .answer-correct-num {
    color: red;
}
.sm .answer-last {
    font-size: 1.2rem;
}

.result {
    margin: 1rem auto 1rem auto;
    text-align: center;
}
.result-head {
    background-color: #e0e0e0;
    padding: 1rem;
}
.result-head .resres {
    font-size: 2rem;
}
.result-head .resres .correct, .restable .result-true {
    color: green;
}
.result-head .resres .wrong, .restable .result-false {
    color: red;
}
.result-head .resres .final {
    font-size: 1.6em;
}
.restable {
    margin: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border: hidden;
}
.restable .wrong {
    background-color: rgba(255, 0, 0, 0.3);
}
.restable tr:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.opinion {
    display: inline-block;
    margin: 1.2rem;
    padding: 0.8rem;
    border: solid 2px #555;
    background-color: #f3f3f3;
    font-size: 0.8em;
}
.opinion .num {
    font-size: 0.4em;
    color: #aaa;
    margin-right: 0.2rem;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

.matchgame-wrapper .card {
    display: inline-block;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: solid 1px #000;
    font-size: 2rem;
}
.matchgame-wrapper .card span {
    pointer-events: none;
}
